## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Busselton,AU,65.52,light rain,-33.6500,115.3333,Observatory Guest House
1,3,Rikitea,PF,73.51,light rain,-23.1203,-134.9692,People ThankYou
2,8,Georgetown,MY,82.33,few clouds,5.4112,100.3354,Cititel Penang
3,10,Saint-Pierre,RE,74.88,scattered clouds,-21.3393,55.4781,Lindsey Hôtel
4,11,Carnarvon,AU,66.27,clear sky,-24.8667,113.6333,Hospitality Carnarvon

In [20]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Busselton,AU,65.52,light rain,-33.6500,115.3333,Observatory Guest House
1,3,Rikitea,PF,73.51,light rain,-23.1203,-134.9692,People ThankYou
2,8,Georgetown,MY,82.33,few clouds,5.4112,100.3354,Cititel Penang
3,10,Saint-Pierre,RE,74.88,scattered clouds,-21.3393,55.4781,Lindsey Hôtel
4,11,Carnarvon,AU,66.27,clear sky,-24.8667,113.6333,Hospitality Carnarvon
...,...,...,...,...,...,...,...,...
289,670,Kalmunai,LK,81.81,few clouds,7.4167,81.8167,VS Villa
290,672,General Roca,AR,77.63,broken clouds,-39.0333,-67.5833,Hotel El Recreo
291,673,Mumford,GH,81.57,moderate rain,5.2618,-0.7590,Spanish Villa
292,674,Oriximina,BR,84.09,broken clouds,-1.7656,-55.8661,Pousada Tia Amélia
293,676,Marshall,US,82.38,scattered clouds,34.3834,-86.3333,Riverview Campground

In [9]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df['City'] == 'Roma']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Albany']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Bethel']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Broome'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Roma']

In [22]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0])
end = (vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0])
stop1 = (vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0])
stop2 = (vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0])
stop3 = (vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0])

In [23]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_driving_trip = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(vacation_driving_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,38,Roma,US,77.09,clear sky,43.2128,-75.4557,Wingate By Wyndham Rome
1,83,Bethel,US,66.02,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
2,16,Broome,US,77.70,clear sky,42.2506,-75.8330,Chenango Valley State Park
3,38,Roma,US,77.09,clear sky,43.2128,-75.4557,Wingate By Wyndham Rome
4,31,Albany,US,67.64,overcast clouds,42.6001,-73.9662,El Medina

In [25]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))